.movie-images-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* slick-type-1 */

.movie-images-wrapper.slick-type-1 {
  position: fixed;
  z-index: 12;
  width: 30%;
}

.movie-images-slider.slick-type-1 {
  width: 100%;
  margin: auto;
  position: relative;
}

.movie-images-slider--item.slick-type-1 {
  padding: 0 1rem;
  cursor: pointer;
  border: 2px solid transparent;
  outline: none;
  position: relative;
}

.movie-images-slider--item.slick-type-1::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.movie-images-slider--item.image-slider-active.slick-type-1::before {
  background-color: transparent;
}

.movie-images-slider--item.slick-type-1 img {
  width: 100%;
}

.movie-images-slider--item.slick-type-1:hover {
  border: 2px solid #dcf836;
}

.movie-images--active.slick-type-1 {
  width: 80%;
  margin: auto;
}

.movie-images--active.slick-type-1 img {
  width: 100%;
  text-align: center;
}

.movie-images-slider .arrow-icon {
  cursor: pointer;
  position: absolute;
  top: 45%;
  font-size: 1.8rem;
}

/* slick-type-2 */
.movie-images-wrapper.slick-type-2 {
  position: fixed;
  z-index: 12;
  width: 70%;
}

.movie-images-slider.slick-type-2 {
  width: 100%;
  margin: auto;
  position: relative;
}

.movie-images-slider--item.slick-type-2 {
  padding: 0;
  cursor: pointer;
  border: 2px solid transparent;
  outline: none;
  position: relative;
  opacity: 0.5;
  transform: scale(0.7);
  transition: all 0.3s;
}

/* active slider */
.movie-images-slider--item.image-slider-active.slick-type-2 {
  background-color: transparent;
  opacity: 1;
  transform: scale(1);
}

.movie-images-slider--item.slick-type-2 img {
  width: 100%;
}

.movie-images-slider--item.slick-type-2:hover {
  border: 2px solid #dcf836;
}

/* arrow */

.movie-images-slider .arrow-icon {
  cursor: pointer;
  position: absolute;
  top: 45%;
  font-size: 1.8rem;
}

.movie-images-slider .arrow-left {
  left: -2rem;
}

.movie-images-slider .arrow-right {
  right: -2rem;
}

/* animation */

.fade-scale-enter {
  opacity: 0;
  transform: scale(1.08);
}

.fade-scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s;
}

.fade-scale-exit {
  opacity: 1;
}

.fade-scale-exit-active {
  opacity: 1;
  transition: all 0.1s;
}
