.movie-collection {
  padding: 4rem 1rem 0 1rem;
}

.movie-collection-list {
  width: 75%;
  margin: auto;
  position: relative;
}

.movie-collection-navtab {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-collection-navtab .navtab-active {
  height: 45px;
  width: 190px;
  line-height: 40px;
  background: linear-gradient(to bottom, #8e2de2, #4a00e0);
  color: #fff;
  border-radius: 5px;
}

.movie-collection__title {
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 1rem;
}

.movie-collection__title:hover {
  color: #8e2de2;
}

.movie-collection-navtab:hover .movie-collection__title.navtab-active {
  color: #fff;
}

.movie-collection .collection-header {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

.movie-collection__liked-movies {
  display: flex;
  align-items: center;
}

.movie-collection__finished-movies {
  display: flex;
  align-items: center;
}

.movie-collection--whislist {
  color: #ffdd57;
}

.movie-collection--finish {
  color: #3273dc;
}

.movie-collection__no-movies {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0.3rem 0.7rem;
}

/* animation */

.fade-on-top-appear {
  opacity: 0;
  transform: translateY(-3rem);
}

.fade-on-top-appear-active {
  opacity: 1;
  transform: translateY(0rem);
  transition: all 0.8s;
}

.fade-on-top-enter {
  opacity: 0;
  transform: translateY(-3rem);
}

.fade-on-top-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s;
}

.fade-on-top-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-on-top-exit-active {
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 1s;
}

/* fade--delete */
.fade-on-top--delete-appear {
  opacity: 1;
  transform: translateY(0rem);
}

.fade-on-top--delete-appear-active {
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 0.8s;
}

.fade-on-top--delete-appear-done {
  opacity: 0;
  display: none;
}
