.movie-collection {
  padding-top: 4rem;
}

.movie-collection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-collection__title {
  text-align: center;
  font-size: 2rem;
}

.movie-collection__liked-movies {
  display: flex;
  align-items: center;
}

.movie-collection__finished-movies {
  display: flex;
  align-items: center;
}
