.movie-collection {
  padding-top: 4rem;
}

.movie-collection-list {
  width: 70%;
  margin: auto;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}

.movie-collection__title {
  text-align: center;
  font-size: 2rem;
}

.movie-collection__liked-movies {
  display: flex;
  align-items: center;
}

.movie-collection__finished-movies {
  display: flex;
  align-items: center;
}

.movie-collection--whislist {
  color: #ffdd57;
}

.movie-collection--finish {
  color: #3273dc;
}

.movie-collection__no-movies {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0.3rem 0.7rem;
}

/* animation */

.fade-on-top-appear {
  opacity: 0;
  transform: translateY(-3rem);
}

.fade-on-top-appear-active {
  opacity: 1;
  transform: translateY(0rem);
  transition: all 0.8s;
}

.fade-on-top-enter {
  opacity: 0;
  transform: translateY(-3rem);
}

.fade-on-top-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s;
}

.fade-on-top-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-on-top-exit-active {
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 1s;
}

/* fade--delete */
.fade-on-top--delete-appear {
  opacity: 1;
  transform: translateY(0rem);
}

.fade-on-top--delete-appear-active {
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 0.8s;
}
