.slider-container {
  width: 100%;
  padding-left: 2rem;
}

.slider-item {
  text-align: center;
}

.slider-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  border: 2px solid transparent;
}

.slider-item img:hover {
  border: 3px solid #dcf836;
}

.slider-item .actor-name {
  margin-top: 0.5rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.slider-item .actor-name:hover {
  text-decoration: underline;
}

.slider-item .actor-cast {
  font-size: 0.9rem;
  font-weight: 500;
  color: #7a7a7a;
}
