.cart-modal {
  background-color: #eaeaea;
  width: 750px;
  padding: 1rem;
  top: 10vh;
  left: 25%;
}

.cart-modal .cart-header {
  padding: 0 1rem;
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.cart-modal .cart-header--title {
  font-size: 1.2rem;
  font-weight: 700;
}

.cart-modal .cart-header .fa {
  cursor: pointer;
}

.cart-list {
  max-height: 480px;
}

.cart-list-scrollable {
  overflow-y: scroll;
}

.cart-summary {
  align-items: center;
  padding: 0.5rem 0;
  z-index: 50;
  width: 750px;
  position: absolute;
  bottom: -3rem;
  left: 0;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size: 1.2rem;
}

.cart-empty {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.7rem;
  box-shadow: 0 0 1px 1px #fff;
  border-color: transparent;
  margin-bottom: 0.7rem;
  font-size: 1.6rem;
  font-weight: 700;
}
