.header {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0.5rem;
  width: 100%;
}

.header .header--wrapper {
  display: flex;
  align-items: center;
  width: 70%;
}

.header .navlinks {
  display: flex;
  align-items: center;
}

.header a.navlinks__item {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

.header a.navlinks__item:hover {
  text-decoration: none;
  background-color: #102c48;
  color: #428bca;
}

/* background-color: #102c48; */
.header .logo {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo img {
  width: 150px;
}

.header .navlinks .search {
  color: #fff;
}

.login {
  max-width: 250px;
  position: relative;
}

.login .arrow-expand {
  margin-left: 0.6rem;
}

@media screen and (max-width: 768px) {
  .navlinks__item {
    display: none;
  }

  .navlinks__item.fixed {
    display: block;
  }
  .login {
    width: 30%;
  }
}
