.movie-detail__background-image {
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
  z-index: 2;
  top: 0;
  left: 0;
}

.movie-detail__background-image:before {
  position: absolute;
  content: '';
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(2, 13, 24, 0.75);
}

.movie-detail__images-slider {
  width: 100%;
}

.movie-detail__content {
  position: relative;
  width: 100%;
  margin-top: -22rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
  padding: 0 6%;
}

/* movie image */

.movie-detail__image {
  width: 308px;
  top: 0;
  left: 0;
}

.movie-detail__image img {
  width: 100%;
  margin-bottom: 2rem;
  cursor: pointer;
  border: 2px solid transparent;
}

.movie-detail__image img:hover {
  border: 2px solid #dcf836;
}

.movie-detail__image .fa-play {
  margin-right: 1.2rem;
}

.movie-detail__collection {
  margin-top: 2rem;
}

.movie-detail__collection img {
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.movie-detail__collection img:hover {
  border: 2px solid #dcf836;
}

.movie-detail__collection--title {
  font-size: 1.2rem;
  margin: 1rem 0;
}

/* movie info */

.movie-detail__info {
  width: 70%;
}

.movie-detail__title-eng {
  font-size: 2.7rem;
  font-weight: 600;
}

.movie-detail__title-vn {
  color: #b5b5b5;
  font-size: 1.7rem;
}

.movie-detail__title--year {
  color: rgba(50, 115, 220, 0.93);
  cursor: pointer;
}

.movie-detail__title--year:hover {
  color: #dcf836;
}

.movie-detail__sub-info--language:hover {
  cursor: pointer;
  color: #dcf836;
}

.movie-detail__sub-info--directors span {
  margin-right: 0.8rem;
}

.movie-detail__sub-info--directors span:hover {
  cursor: pointer;
  color: #dcf836;
}

.movie-detail__length {
  font-size: 1.4rem;
  margin-top: 3rem;
}

.movie-detail__season {
  font-size: 1.3rem;
  color: #b5b5b5;
}

.movie-detail__IMDb {
  margin: 1rem 0;
}

.IMDb--icon {
  color: #000;
  background-color: rgb(255, 193, 7);
  font-size: 0.8rem;
  font-weight: 800;
  padding: 0.2rem;
  border-radius: 4px;
  margin-right: 0.5rem;
}

/* .movie-detail__wrap-share-genres {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.movie-detail__share {
  display: flex;
  align-items: center;
  /* margin: 0.5rem; */
}

.movie-detail__share span {
  cursor: pointer;
  padding: 0.5rem 0.9rem;
  border-radius: 5px;
}

.movie-detail__share .fa {
  margin-right: 0.8rem;
}

.movie-detail__share .icon-cart {
  background-color: rgba(50, 115, 220, 0.93);
  border: 1px solid transparent;
}

.movie-detail__share .icon-cart:hover {
  color: rgba(50, 115, 220, 0.93);
  background-color: transparent;
  border: 1px solid rgba(50, 115, 220, 0.93);
}

.movie-detail__share .icon-delete {
  background-color: #ff4b2b;
  border: 1px solid transparent;
}

.movie-detail__share .icon-delete:hover {
  color: #ff4b2b;
  background-color: transparent;
  border: 1px solid#ff4b2b;
}

.movie-detail__share--facebook .cart {
  margin-right: 1rem;
  font-size: 1.3rem;
}

.movie-detail__genres {
  margin-top: 1rem;
  text-align: right;
}

.movie-detail__genres--item {
  font-size: 0.9rem;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0.4rem;
  margin: 0 0.2rem;
  cursor: pointer;
}
.movie-detail__genres--item:hover {
  color: #dcf836;
  border-color: #dcf836;
}

.movie-detail__sub-info {
  margin-top: 8rem;
}

.movie-detail__sub-info--label {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0.3rem 0;
  color: #7a7a7a;
  width: 130px;
}
.movie-detail__sub-info--value {
  font-size: 1.1rem;
}

.movie-detail__description {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  color: #b5b5b5 !important;
}

/* movie cast */

.movie-detail__casts {
  margin-top: 1.3rem;
  width: 90%;
}

.movie-detail__casts--title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* movie trailer */

.movie-detail__trailers--title {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.movie-detail__trailers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.movie-detail__trailers-item {
  margin-right: 1rem;
  border-radius: 4px;
  width: 30%;
  height: 155px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border: 3px solid transparent;
  transition: all 0.2s;
}

.movie-detail__trailers-item:hover {
  border: 3px solid #dcf836;
}

.movie-detail__trailers-item iframe {
  position: relative;
  z-index: -1;
  width: 100%;
}

.movie-detail__seasons {
  width: 100%;
}

.movie-detail-container .movie-detail__series {
  width: 90%;
  margin: auto;
}

.movie-detail__similar-movies {
  width: 100%;
}

.movie-detail-container .movie-detail__series .icon-config {
  cursor: pointer;
  margin-left: 1rem;
  transition: all 0.3s;
}

.movie-detail-container .movie-detail__series .icon-config:hover {
  color: #dcf836;
}

.movie-detail-container .movie-detail__series .icon-config span {
  font-size: 1.2rem;
}

.movie-detail-container .movie-detail__series i {
  cursor: pointer;
  margin-left: 0.7rem;
}

@media screen and (max-width: 1216px) {
  .movie-detail__image {
    width: 250px;
  }
  .movie-detail__genres {
    margin-left: 0;
  }
}

@media screen and (max-width: 1016px) {
  .movie-detail__info {
    width: 65%;
  }
  .movie-detail__genres {
    margin-left: 0;
    width: 100%;
    text-align: left;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 968px) {
  .movie-detail__info {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .movie-detail__image {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .movie-detail__info {
    margin-top: 1rem;
    width: 100%;
  }
  .movie-detail__poster {
    width: 40%;
  }
  .movie-detail__collection {
    width: 40%;
  }
  .movie-detail__sub-info {
    margin-top: 2rem;
  }
  .movie-belong-to-collection--title {
    display: none;
  }
}
