.all-user-container {
  border: 1px solid #fff;
}

.all-user-table {
  border-collapse: collapse;
  width: 100%;
}

.all-user-table th {
  font-size: 1.1rem;
}

.all-user-table td {
  padding: 0.5rem 0;
}

/* .all-user-table tr:hover {
  cursor: pointer;
  background-color: #102c48;
} */

.all-user-table .user-name {
  width: 170px;
}

.all-user-table .user-email {
  width: 280px;
}

.all-user-table .user-create-date {
  width: 220px;
}
