.card-movie-detail {
  position: absolute;
  top: 13px;
  z-index: 10;
  width: 300px;
  border-radius: 6px;
}

.card-movie-detail.card-left {
  right: 90%;
}

.card-movie-detail.card-right {
  left: 90%;
}

.card-movie-detail.overview-full {
  width: 450px;
  height: 100%;
}

.card-movie-detail img {
  width: 100%;
  height: 100%;
}

.card-movie-poster {
  width: 250px;
  position: absolute;
  top: 15px;
  z-index: 10;
}

.card-movie-poster.card-right {
  left: -1rem;
}

.card-movie-poster.card-left {
  right: -1rem;
}

.card-movie-poster .title-vn {
  font-size: 1.2rem;
}

.card-movie-poster .title-en {
  font-size: 1.1rem;
  color: #7a7a7a;
}

.card-movie-poster img {
  width: 100%;
}

.card-movie-detail .movie-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 10%;
}

.card-movie-detail .movie-content::before {
  z-index: -1;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.card-movie-detail .movie-overview {
  color: #d4d3dd;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-movie-detail.overview-full .movie-overview {
  display: block;
}

.card-movie-detail .movie-read-more {
  color: #3273dc;
}

.card-movie-detail .movie-read-more:hover {
  color: #428bca;
  cursor: pointer;
  text-decoration: underline;
}

.card-movie-detail .fa {
  color: #fff;
  font-size: 1.2rem;
}

.card-movie-detail .movie-info {
  padding: 0.5rem;
}

.card-movie-detail .movie-info--item {
  color: #efefbb;
  margin: 0.3rem 0;
}

.card-movie-detail .movie-info--item p {
  display: inline-block;
  font-size: 1.1rem;
  width: 90px;
}

.card-movie-detail.overview-full .movie-info {
  display: flex;
}

.card-movie-detail.overview-full .movie-info--item {
  border-radius: 5px;
  /* border: 1px solid #fff; */
  width: 33%;
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
  text-align: center;
}

.card-movie-detail.overview-full .movie-info--item i {
  font-size: 1.3rem;
}

.card-movie-detail.overview-full .movie-statistic {
  display: block;
  width: 100%;
  margin: 0;
}

.card-movie-detail.overview-full .movie-cart .button {
  display: inline-block;
  width: 80%;
}

.card-movie-detail.overview-full .item-like {
  color: #3273dc;
}

.card-movie-detail.overview-full .item-buy {
  color: #23d160;
}

.card-movie-detail.overview-full .item-imdb {
  color: #dcf836;
}

.card-movie-detail.overview-full .movie-info--item p {
  display: none;
}

.card-movie-detail .movie-statistic {
  display: inline-block;
  margin: 0 0.5rem;
  width: 60px;
}

.card-movie-detail .icon-liked {
  color: #3273dc;
}

.card-movie-detail .icon-buy {
  color: #23d160;
}

.card-movie-detail .movie-cart .icon-heart {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
}

.card-movie-detail .movie-cart .icon-heart i {
  color: #fff;
  transition: all 0.3s;
}

.card-movie-detail .movie-cart .icon-heart:hover i {
  color: #ff4b2b;
  transform: scale(1.2);
}
.card-movie-detail .movie-cart .icon-heart:hover {
  border: 1px solid #ff4b2b;
}

.card-movie-detail .movie-cart .button {
  font-size: 1rem;
}

.card-movie-detail .movie-cart .button:hover .fa-shopping-cart {
  color: #23d160;
}

.card-movie-detail .movie-cart .button:hover .fa-check {
  color: #3273dc;
}

.card-movie-detail .movie-login-require {
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  background-color: #fff;
  color: #000;
  padding: 0.3rem;
  border-radius: 5px;
}

.card-movie-detail .movie-login-require a {
  color: #3273dc;
  text-decoration: none;
}

.movie-login-require a:hover {
  text-decoration: underline;
  color: #428bca;
}

/* animation  */

.fade-on-left-enter {
  opacity: 0;
  transform: translateX(-5rem);
}

.fade-on-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

.fade-on-left-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-on-left-exit-active {
  opacity: 0;
  transform: translateX(-5rem);
  transition: all 0.5s;
}
