.movie-item {
  width: 20%;
  cursor: pointer;
  padding: 1.5rem;
}

.movie-item img {
  width: 100%;
}

.movie-item__title--eng {
  font-size: 1.1rem;
  margin-top: 0.6rem;
  margin-bottom: 0rem;
}

.movie-item .movie-item__title--vn {
  color: #7a7a7a;
  font-size: 0.9rem;
}

@media screen and (max-width: 1408px) {
  .movie-item {
    width: 20%;
  }
}

@media screen and (max-width: 1022px) {
  .movie-item {
    width: 33%;
  }
}

@media screen and (max-width: 768px) {
  .movie-item {
    width: 50%;
  }
}
