.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.movie-list .pagination {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.movie-list .pagination-page {
  display: flex;
  align-items: center;
}

.movie-list .pagination-page span {
  font-size: 1.1rem;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  background-color: transparent;
  margin: 0 0.5rem;
}

.movie-list .pagination-page p {
  margin: 0 0.7rem;
}

.movie-list .pagination-page span:hover {
  cursor: pointer;
  background-color: #428bca;
  border-color: #428bca;
  color: #fff;
}

.movie-list span.pagination-page--active {
  background-color: #428bca;
  border-color: #428bca;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .movie-list .pagination {
    justify-content: center;
  }

  .pagination-page {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
