.trailer-slider {
  width: 90%;
  padding-left: 2rem;
}

.trailer-slider--item {
  position: relative;
  z-index: 0;
  border: 3px solid transparent;
  transition: all 0.2s;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.4rem;
}

.trailer-slider--item:hover {
  border: 3px solid #dcf836;
}

.trailer-slider--item iframe {
  position: relative;
  z-index: -1;
  width: 100%;
}
