.trailer-slider {
  width: 90%;
  padding-left: 2rem;
}

.left-align-slick .slick-list .slick-track {
  margin-left: 0;
}

/* .fade-slide-down-enter {
  opacity: 0;
  transition: all 0.4s;
}

.fade-slide-down-enter-active {
  opacity: 1;
} */

.trailer-slider--item {
  position: relative;
  z-index: 0;
  border: 3px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.4rem;
}

.trailer-slider--item:hover {
  border: 3px solid #dcf836;
}

.trailer-slider--item iframe {
  position: relative;
  z-index: -1;
  width: 100%;
}
