.movie-trailer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.movie-trailer iframe {
  position: fixed;
  z-index: 15;
  width: 50%;
  height: 75%;
}
