.button {
  background-color: #fff;
  color: #363636;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  padding: 0.6rem 0.5rem;
  text-align: center;
  font-weight: 500;
}

/* primary */
.button-primary {
  background-color: #cf2122;
  border-color: transparent;
  color: #fff;
}

.button-primary:hover {
  background-color: transparent;
  border-color: #ff4b2b;
  color: #ff4b2b;
  outline: none;
}

/* secondary */
.button-secondary {
  background-color: #428bca;
  border-color: transparent;
  color: #fff;
}

.button-secondary:disabled {
  cursor: not-allowed;
}

.button-secondary:hover {
  background-color: transparent;
  border-color: #428bca;
  color: #428bca;
  outline: none;
}

/* darkblue */
.button-dark-blue {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}
.button-dark-blue:hover {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
  outline: none;
}
