.button {
  background-color: #fff;
  color: #363636;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  padding: 0.6rem 0.5rem;
  text-align: center;
  font-weight: 500;
  outline: none;
  transition: all 0.3s;
}

.button-full {
  width: 100%;
}

/* primary */
.button-primary {
  background-color: #cf2122;
  border-color: transparent;
  color: #fff;
}

.button-primary:hover {
  background-color: transparent;
  border-color: #ff4b2b;
  color: #ff4b2b;
}

/* secondary */
.button-secondary {
  background-color: #428bca;
  border-color: transparent;
  color: #fff;
}

.button-secondary:hover {
  background-color: transparent;
  border-color: #428bca;
  color: #428bca;
  outline: none;
}

/* darkblue */
.button-dark-blue {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}
.button-dark-blue:hover {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
  outline: none;
}

/* green */
.button-green {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}
.button-green:hover {
  background-color: transparent;
  border-color: #23d160;
  color: #23d160;
  outline: none;
}

/* clear */
.button-clear {
  border-color: #b12e2e;
  color: #dbdbdb;
  min-width: 2.25em;
  background-color: transparent;
}
.button-clear:hover {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
  outline: none;
}

.button:disabled {
  cursor: not-allowed;
  border-color: #7a7a7a;
  color: #7a7a7a;
  background-color: transparent;
}
