.modal {
  z-index: 20;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #ccc;
  color: #000000;
  position: fixed;
  top: 27vh;
  left: 35%;
  width: 500px;
}

.modal-header {
  font-size: 1.8rem;
  padding: 0.6rem;
  background-color: #23d160;
  color: #ffffff;
  font-weight: 700;
}

.modal-content {
  font-size: 1.5rem;
}

/* animate modal */
.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 0.5s;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}
.modal-exit-active {
  opacity: 0;
  transform: translateY(-10rem);
}

/* modal-confirm-delete */
.modal-confirm-delete {
  font-size: 1.3rem;
}

.modal-confirm-delete .modal-header {
  font-size: 1.7rem;
  background-color: #ff4b2b;
  color: #fff;
}

.modal-confirm-delete .modal-footer {
  text-align: right;
}

.modal-confirm-delete .modal-footer button {
  margin: 0.5rem;
}
