.similar-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.similar-movies--title {
  margin-top: 3rem;
  font-size: 1.5rem;
  padding-left: 4rem;
}

@media screen and (max-width: 1408px) {
  .similar-movies .movie-item {
    width: 350px;
    text-align: center;
  }
  .similar-movies .movie-item img {
    width: 80%;
  }
}

@media screen and (max-width: 1016px) {
  .similar-movies .movie-item {
    width: 33%;
  }
  .similar-movies .movie-item img {
    width: 100%;
  }
}
