.collection-header {
  position: relative;
  border-color: transparent;
  transition: all 0.3s;
  display: inline-block;
  margin: 0.5rem;
}

.collection-normal {
  background-color: #23d160;
  border: 1px solid #23d160;
}

.collection-normal:hover {
  color: #23d160;
  background-color: transparent;
  border: 1px solid #23d160;
}

.collection-wishlist {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.collection-done {
  background-color: #3273dc;
  color: #fff;
}

.collection-delete {
  display: inline-block;
  background-color: #ff4b2b;
  color: #fff;
  border: 1px solid #ff4b2b;
}

.collection-delete:hover {
  color: #ff4b2b;
  background-color: transparent;
  border: 1px solid #ff4b2b;
}

.collection-dropdown {
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  top: 2.2rem;
  left: -2rem;
  position: absolute;
  width: 16rem;
  font-size: 0.9rem;
}

.collection-dropdown--item {
  padding: 0.2rem;
  transition: all 0.2s;
}

.collection-dropdown--item:hover {
  background-color: wheat;
}

.collection-dropdown--item span {
  font-weight: 700;
  font-size: 1rem;
}

.collection-require-login {
  font-size: 1.2rem;
  padding: 0.3rem;
  cursor: auto;
}

.collection-require-login a {
  color: #3273dc;
}

.collection-require-login a:hover {
  color: #ffdd57;
}
