.user-item:hover {
  cursor: pointer;
  background-color: #102c48;
}

.user-item .icon-config {
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.2rem;
  text-align: center;
  transition: all 0.3s;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.user-item .icon-delete {
  background-color: #ff4b2b;
  margin: 0 0.5rem;
}

.user-item .icon-delete:hover {
  background-color: transparent;
  color: #ff4b2b;
  border: 1px solid #ff4b2b;
}

.user-item .icon-edit {
  background-color: #23d160;
}

.user-item .icon-edit:hover {
  background-color: transparent;
  color: #23d160;
  border: 1px solid #23d160;
}

.user-item .icon-goto-collection {
  opacity: 0;
  background-color: #3273dc;
  transition: all 0.3s;
}

.user-item:hover .icon-goto-collection {
  opacity: 1;
}

.user-item .collection-count {
  text-align: center;
}
